---
layout: default
---

<div class="row">
    <div class="project-list">
        <div class="page-header">
          <h3>Projects</h3>
        </div>
        {% for project in site.projects %}
            {% include project_list.html project=project %}
        {% endfor %}
    </div>

    <div class="post-list">
        <div class="page-header">
            <h3>Latest Posts <small style="margin-left: 25px"><u>
                <a href="{{ site.baseurl }}/posts/">View all</a>
            </u></small></h3>
        </div>
        {% for post in site.posts limit:5 %}
            {% include post_list.html post=post %}
        {% endfor %}
    </div>
</div>
